.headers {
  padding-left: 70%;
}

.google-squares {
  display: inline;
  height: 25px;
  width: 25px;
  padding-top: 5px;
}

#sign-in {
  color: #FFFFFF;
  font-weight: bold;
  background-color: #5b5bf8;
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
}

.list li {
  list-style: none;
  display: inline-block;
  color: #505050;
  padding: 5px;
}

.google-image {
  padding-top: 10%;
  padding-left: 40%;
}

.search {
  padding-top: 25px;
  padding-left: 30%;
  height: 100px;
}

textarea {
  width: 65%;
  height: 40px;
  resize: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  border: 5px;
  border-radius: 3%;
  font-size: 20px;
  padding: 5px;
}

.random-buttons div {
  display: inline-block;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 80px;
  padding: 10px 25px 10px 25px;
  background-color: #F0EAEA;
  font-weight: bold;
  color: #787272;
  border-radius: 3px;
  border: 1px solid #FFFFFF;
}

.location {
  height: 30px;
  width: 30%;
  display: block;
  padding: 8px 80% 5px 18px;
  position: absolute;
  left: 0px;
  color: #787272;
  background-color: #F0EAEA;
  border-top: 0.3px solid #f2d2d2;
  border-bottom: 0.3px solid #f2d2d2;
}

footer{
  margin: 45px;
  width: 30%;
}

.extras, .others, .extras p, .others p {
  display: inline;
}

.extras {
  background-color: #F0EAEA;
  position: absolute;
  left: 0px;
  padding: 8px 45% 25px 18px;
  border-bottom: 0.3px solid #f2d2d2;
  color: #787272;
}

.others {
  background-color: #F0EAEA;
  position: absolute;
  right: 0px;
  padding: 8px 18px 25px 45%;
  border-bottom: 0.3px solid #f2d2d2;
  color: #787272;
}

.random-buttons div:hover {
  color: #000000;
  border: 1px solid #f2d2d2;
}

#gmail-header:hover, #img-header:hover {
  text-decoration: underline;
}

#sign-in:hover {
  box-shadow: 1px 1px 2px #000000;
}

.google-squares:hover {
  cursor: pointer;
}
