* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.headers {
  padding-left: 70%;
  display: flex;
}

.google-squares {
  display: inline;
  height: 25px;
  width: 25px;
  padding-top: 5px;
}

#sign-in {
  color: #FFFFFF;
  font-weight: bold;
  background-color: #5b5bf8;
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
}

.list li {
  list-style: none;
  display: inline-block;
  color: #505050;
  padding: 5px;
}

.google-image {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;
  height: 100px;
}

textarea {
  width: 65%;
  height: 40px;
  resize: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  border: 5px;
  border-radius: 3%;
  font-size: 20px;
  padding: 5px;
}

.random-buttons {
  display: flex;
  align-items: center;
  margin: 2%;
}

.random-buttons div {
  padding: 5%;
  background-color: #F0EAEA;
  font-weight: bold;
  color: #787272;
  width: auto;
  height: auto;
  margin: 2%;
  border-radius: 3px;
  border: 1px solid #FFFFFF;
}

.location {
  height: auto;
  width: 100%;
  display: block;
  padding: 20px;
  color: #787272;
  background-color: #F0EAEA;
  border-top: 0.3px solid #f2d2d2;
  border-bottom: 0.3px solid #f2d2d2;
}

footer{
  width: 30%;
}

.extras, .others, .extras p, .others p {
  display: inline;
}

.extras {
  position: absolute;
  left: 0px;
  background-color: #F0EAEA;
  border-bottom: 0.3px solid #f2d2d2;
  color: #787272;
  padding: 8px 45% 25px 18px;
}

.others {
  background-color: #F0EAEA;
  position: absolute;
  right: 0px;
  padding: 8px 18px 25px 45%;
  border-bottom: 0.3px solid #f2d2d2;
  color: #787272;
}

.random-buttons div:hover {
  color: #000000;
  border: 1px solid #f2d2d2;
}

#gmail-header:hover, #img-header:hover {
  text-decoration: underline;
}

#sign-in:hover {
  box-shadow: 1px 1px 2px #000000;
}

.google-squares:hover {
  cursor: pointer;
}
